body {
  font-family: $mont;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
button,
.btn,
.form-control {
  &,
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
  }
}
img {
  width: 100%;
}
a {
  &,
  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}
