.header-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  @include respond-to ('smallphone-and-down') {
    flex-direction: row-reverse;
    justify-content: center;
    border-bottom: 1px solid $color_lightgrey2;
    padding: 10px 0;
    margin: 0;
  }
}
.header-mobile {
  display: none;
  width: 50%;
  background-color: $color_black;
  color: white;
  &__menu{
    width: 50%;
    border-right: 1px solid $color_grey;
  }
  &__customer {
    width: 50%;
    border-right: 1px solid $color_grey;
  }
  &__btn {
    width: 100%;
    background-color: $color_black;
    color: $color_white;
  }
  &__dropdowntoggle {
    &::after {
      display: none;
    }
  }
  &__dropdownmenu {
    min-width: 100%;
    font-size: 12px;
  }
  @include respond-to ('smallphone-and-down') {
    display: flex;
    justify-content: space-around;
  }
}
.header-call {
  &__text {
    font-size: 11px;
    margin-bottom: 0;
  }
}
.header-lang {
  &__dropdowntoggle {
    font-size: 12px;
    font-weight: 700;
    background: url('../images/flag.jpg') no-repeat 2%;
    padding-left: 26px;
    margin-left: 26px;
    color: $color_black;
    @include respond-to ('mobileS-and-down') {
      margin-left: 0;
    }
  }
  &__dropdownmenu {
    min-width: 100px;
    border-radius: 0;
    font-size: 12px;
  }
}
.header-currency {
  &__dropdown {
    @include respond-to ('smallphone-and-down') {
    position: absolute;
    top: 0;
    left: 50%;
    width: 25%;
    background-color: $color_black;
    }
  }
  &__dropdowntoggle {
    font-size: 12px;
    font-weight: 700;
    @include respond-to ('smallphone-and-down') {
      width: 100%;
      background-color: $color_black;
      color: white;
      padding: 9px;
    }
  }
  &__dropdownmenu {
    min-width: 50px;
    border-radius: 0;
    font-size: 12px;
    @include respond-to ('smallphone-and-down') {
      min-width: 107px;
    }
  }
}
.header-search {
  width: 178px;
  @include respond-to ('smallphone-and-down') {
     display: none;
  }
  &__form {
    font-size: 12px;
    background-color: $color_lightgrey;
    border: 1px solid $color_lightgrey;
    border-bottom: 1px solid $color_lightgrey2;
    border-radius: 0;
    &:focus {
      background-color: $color_lightgrey;
      border-color: none;
      border-bottom: 1px solid $color_lightgrey2;
    }
  }
  &__btn {
    padding: 0 10px;
    font-size: 12px;
    background-color: $color_lightgrey;
    border-bottom: 1px solid $color_lightgrey2;
    border-radius: 0;
  }
}
.header-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include respond-to ('smallphone-and-down') {
    flex-direction: column;
    margin-top: 20px;
  }
}
.header-logo {
  @include respond-to ('smallphone-and-down') {
    text-align: center;
  }
  &__img {
    margin-top: 23px;
    @include respond-to ('smallphone-and-down') {
      margin-top: 0;
      width: auto;
    }
  }
}
.header-attributes {
  margin-bottom: 20px;
  @include respond-to ('smallphone-and-down') {
    margin: 0;
  }
}
.header-ship {
  font-size: 12px;
  font-weight: 700;
  margin: 20px 0;
  text-align: right;
  @include respond-to ('smallphone-and-down') {
    text-align: center;
  }
}
.header-customer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}
.header-cart {
  position: relative;
  &:hover {
    cursor: pointer;
    .header-cart__hover {
      display: block;
    }
  }
  @include respond-to ('smallphone-and-down') {
    position: absolute;
    width: 25%;
    text-align: center;
    padding: 8px 0;
    top: 0;
    background-color: $color_black;
    color: white;
    border-left: 1px solid $color_grey;
  }
  &__icon {
    font-size: 14px;
    margin-right: 10px;
    @include respond-to ('smallphone-and-down') {
      font-size: 20px;
    }
  }
  &__wrapper {
    position: relative;
    text-align: left;
    padding: 24px 0;
  }
  &__link {
    &:hover {
      border-bottom: 1px solid $color_black;
    }
    &--hidden {
      @include respond-to ('smallphone-and-down') {
        display: none;
      }
    }
  }
  &__noti {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: $color_pink;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    line-height: 22px;
    @include respond-to ('smallphone-and-down') {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 10px;
      right: 0;
      background-color: $color_red;
      line-height: 19px;
    }
  }
  &__hover {
    display: none;
    position: absolute;
    width: 300px;
    border: 1px solid $color_grey;
    z-index: 2000;
    background-color: $color_white;
    color: $color_black;
    padding: 20px;
    top: 63px;
    left: 1px;
    animation: down 0.2s forwards;
    @include respond-to ('smallphone-and-down') {
      top: 45px;
      left: -388px;
      width: 427px;
    }
    @include respond-to ('mobileL-and-down') {
      top: 45px;
      // left: -388px;
      width: 427px;
      left: auto;
      right: -40px;
    }
    @include respond-to ('mobileM-and-down') {
      // left: -346px;
      width: 385px;
    }
    @include respond-to ('mobileS-and-down') {
      // left: -300px;
      width: 337px;
    }
  }
  .button-white__btn {
    animation: down-btn 0.3s forwards;
  }
  @keyframes down {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 110px;
      opacity: 1;
    }
  }
  @keyframes down-btn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.header-wishlist {
  margin-left: 30px;
  @include respond-to ('smallphone-and-down') {
    display: none;
  }
  &__icon {
    font-size: 14px;
    margin-right: 10px;
  }
  &__link {
    &:hover {
      border-bottom: 1px solid $color_black;
    }
  }
}
.header-signin {
  margin-left: 30px;
  @include respond-to ('smallphone-and-down') {
    display: none;
  }
  &__link {
    &:hover {
      border-bottom: 1px solid $color_black;
    }
  }
}
.header-search-mobile {
  display: none;
  @include respond-to ('smallphone-and-down') {
    display: block;
  }
  &__form {
    @extend .header-search__form;
    padding: 13px;
  }
  &__btn {
    @extend .header-search__btn;
  }
}
.navigation {
  background-color: $color_black;
  padding: 0;
  @include respond-to ('smallphone-and-down') {
    display: none;
  }
}
.navigation-nav {
  flex-direction: row;
  &__item {
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      .navigation-hover {
        display: block; //bat tat mega menu
      }
    }
  }
  &__link {
    color: $color_white;
    font-size: 13px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    &:hover {
      color: $color_white;
      .navigation-nav__text {
        border-bottom: 2px solid $color_white;
        &--dot {
          border-bottom: 1px dotted $color_white;
        }
      }
    }
  }
  &__text {
    padding: 5px 0;
    &--dot {
      border-bottom: 1px dotted $color_white;
    }
  }
  &__icon {
    margin: 0 7px;
  }
  &__state1,
  &__state2 {
    position: absolute;
    top: -16px;
    right: 0;
  }
  &__state2 {
    right: -15px;
  }
  &__new {
    position: relative;
    color: white;
    font-size: 9px;
    background-color: $color_red;
    padding: 2px 6px;
    &::before {
      content: '';
      position: absolute;
      right: 12px;
      top: 14px;
      width: 0;
      height: 0;
      border-right: 7px solid transparent;
      border-top: 8px solid $color_red;
      border-left: 7px solid transparent;
    }
  }
}
.navigation-hover {
  position: absolute;
  z-index: 50;
  background-color: $color_white;
  color: $color_black;
  width: 200%;
  right: -50%;
  left: -50%;
  top: 49px;
  padding: 20px;
  display: none; //bat tat megamenu
  &__title {
    font-size: 12px;
    font-weight: 700;
  }
  &__nav {
    margin-bottom: 30px;
  }
  &__item {
    font-size: 12px;
    padding: 5px 0;
    position: relative;
    transition: 0.4s;
    .navigation-hover__text {
      transition: 0.4s;
    }
    &:hover {
      .navigation-hover__text {
        transition: 0.4s;
        padding-left: 19px;
        color: $color_grey;
      }
      .navigation-hover__line {
        display: block;
        transition: 0.4s;
      }
    }
  }
  &__describe {
    font-size: 11px;
    padding: 5px 0;
    white-space: nowrap;
    margin: 5px -20px;
  }
  &__img {
    padding-bottom: 5px;
    &--ml {
      margin-left: -25px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &__left {
    padding-left: 70px;
  }
  &__line {
    display: none;
    position: absolute;
    z-index: 8000;
    top: 13px;
    left: 0;
    height: 1px;
    width: 15px;
    background-color: $color_grey;
  }
}
.nav-mobile {
  width: 60%;
  height: 100%;
  background-color: $color_white;
  color: $color_black;
  position: fixed;
  transition: 0.4s;
  z-index: 0;
  border-right: 1px solid $color_lightgrey2;
  transform: translateX(-900%); //bật tắt nav-mobile
  transition: 0.4s;
  display: none;
  &.show {
    transform: translateX(0);
    overflow-y: auto;
  }
  @include respond-to ('smallphone-and-down') {
    display: block;
  }
}
.navmobile-nav {
  &__item {
    border-bottom: 1px solid $color_lightgrey2;
    padding: 5px 20px;
  }
  &__link {
    font-size: 12px;
    font-weight: 700;
  }
  &__icon {
    float: right;
    margin-right: 5px;
  }
  &__btn {
    width: 100%;
    text-align: right;
    padding: 6px 0;
    background-color: transparent;
    font-size: 12px;
  }
}
.body-wrapper {
  @include respond-to ('smallphone-and-down') {
    z-index: 1;
    -webkit-box-shadow: 0px -1px 12px 0px rgba(50, 50, 50, 0.37);
    -moz-box-shadow:    0px -1px 12px 0px rgba(50, 50, 50, 0.37);
    box-shadow:         0px -1px 12px 0px rgba(50, 50, 50, 0.37);
    transition: 0.4s;
    &.show {
      position: fixed;
      transform: translateX(60%);
      .owl-carousel.owl-loaded {
        display: none;
      }
    }
  }
}
.navmobile-toggle {
  padding: 0 15px;
  &__item {
    border-bottom: 1px solid $color_grey;
    padding: 10px 0;
    background: url('../images/plus-btn.png') no-repeat 96% 50%;
  }
  &__link {
    font-size: 11px;
    font-weight: 700;
  }
  &__text {
    font-size: 12px;
    margin: 0;
  }
}
.navmobile-subtoggle {
  padding: 0 20px;
  &__link {
    font-size: 11px;
  }
}
.bg-color-change {
  background-color: $color_black;
  color: $color_white;
}
.icon-rotate {
  transform: rotate(180deg);
}
.icon-change {
  background: url('../images/minus-btn.png') no-repeat 96% 50%;
}
