$color_black: #141414;
$color_white: #ffffff;
$color_whiteblur: #ffffffa8;
$color_pink: #ffe5e5;
$color_red: #f02121;
$color_lightyellow: #fff8ee;
$color_grey2: #3b3b3b;
$color_grey: #969696;
$color_lightgrey2: #e7e7e7;
$color_lightgrey: #fafafa;
$color_blue: #3b5998;
